langchain
langchain-google-genai
langchain-groq
chromadb
python-dotenv
pandas
python-docx
openpyxl
moviepy==1.0.3
requests
crawl4ai
aiohttp
langchain-community
langchain-core
fastapi[all]
uvicorn
streamlit
docling
pytest 
pytest-asyncio 
httpx